<header class="border-b-grey-default border-b-1">
  <nav class="container mx-auto flex items-center py-6 gap-8">
    <a class="flex items-center gap-6 font-bold text-2xl" routerLink="/">
      <img
        ngSrc="/icons/logo.svg"
        alt="The Scoville Inferno Logo"
        width="60"
        height="45"
      />
      The Scoville Inferno
    </a>
    <ul class="flex gap-8 flex-1 list-none justify-end p-0 m-0">
      <li>
        <a class="hover:text-shadow-text-grey" routerLink="/">Products</a>
      </li>
      <li>
        <a class="hover:text-shadow-text-grey" routerLink="/about"
          >Pain Guides</a
        >
      </li>
      <li>
        <a class="hover:text-shadow-text-grey" routerLink="/recipes"
          >Community</a
        >
      </li>
      <li>
        <a class="hover:text-shadow-text-grey" routerLink="/contact"
          >Resources</a
        >
      </li>
      <li>
        <a class="hover:text-shadow-text-grey" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <div class="action-buttons">
      <a
        [routerLink]="['account', 'login']"
        class="rounded-2xl border cursor-pointer border-dark-grey bg-grey-default px-5 py-2 mr-4"
      >
        Sign In
      </a>
      <a
        [routerLink]="['account', 'register']"
        class="rounded-2xl border text-white cursor-pointer border-dark-grey bg-main-dark px-5 py-2 mr-4"
      >
        Register
      </a>
    </div>
  </nav>
</header>
