<footer class="bg-main-dark flex flex-col gap-12 text-text-light pt-12 pb-6">
  <div class="container mx-auto">
    <img
      class="mx-auto"
      priority
      ngSrc="/footer-bg.png"
      alt="The Scoville Inferno"
      width="496"
      height="264"
    />
  </div>
  <ul class="flex mx-auto gap-8 list-none p-0">
    <li><a class="hover:text-shadow-text-grey" routerLink="/">Contact</a></li>
    <li><a class="hover:text-shadow-text-grey" routerLink="/">FAQ</a></li>
    <li><a class="hover:text-shadow-text-grey" routerLink="/">Community</a></li>
    <li><a class="hover:text-shadow-text-grey" routerLink="/">Resources</a></li>
    <li><a class="hover:text-shadow-text-grey" routerLink="/">License</a></li>
  </ul>
  <div class="footer-copyright">
    <p class="text-center">
      © The Scoville Inferno 2025. We are not liable for any damages.
    </p>
  </div>
</footer>
