@import "tailwindcss";

@theme {
  --color-main-dark: #111d13;
  --color-text-light: #f5f5f5;
  --color-text-grey: #757575;
  --color-dark-grey: #767676;
  --color-grey-default: #D9D9D9;
  --home-grid-template-columns: 300px 1fr;
}
@layer base {
  body {
    font-family: Inter, sans-serif;
  }
}
